body {
	font-family: Verdana;
}

.code_area_wrapper {
	float: left;
}

.machine_area_wrapper {
	float: left;
}

.code_area_wrapper, .machine_area_wrapper {
	/* Shared wrapper attributes */
	padding-top:    10px;
	padding-bottom: 10px;
	padding-left:   10px;
	padding-right:  0px;
}

textarea {
	width: 300px;
	height: 120px;
	border:	3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
}


/* ace editor stuff */ 
#editor {
	position: absolute;
	top:    0;
	right:  0;
	bottom: 0;
	left:   0;
}

#editor_wrapper {
	position: relative;
	height: 600px;
	width:  500px;
	background-color: #FFFFFF;
}